<h1>Spotify Copycat Home Page: {{user}}</h1>

<input
        type="button"
        value="Create Playlist"
        onclick="location.href='/create_playlist'"
>
<input
        type="button"
        value="View All Playlists"
        onclick="location.href='/view_playlist'"
>
<input
        type="button"
        value="View Song Catalog"
        onclick="location.href='/view_songs'"
>
<input
        type="button"
        value="View Artist Catalog"
        onclick="location.href='/view_artists'"
>