<h1>Welcome to Spotify Copycat!</h1>
<form action="/login" method="post">
    {% csrf_token %}
<div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
</div>

<div>
    <label for="pass">Password:</label>
    <input type="password" id="pass" name="password"
           minlength="8" required>
</div>

    <div>
<input
        type="submit"
        value="Login"
>
    </div>
    <input
        type="submit"
        value="Create Account"
        onclick="location.href='/signup'"
>
</form>
