<h1>Playlist Viewer</h1>
<p>
    Your Playlists:
    {% for playlist in user_playlists %}
    <input
            type="submit"
            value="View: {{ playlist.playlistName }}"
            onclick="location.href='/playlist_songs&playlist-id={{ playlist.playlistID }}'"
    >
    {% endfor %}
</p>
<p>
    Other User's playlists:
    {% for playlist in other_playlists %}
    <input
            type="submit"
            value="View: {{ playlist.playlistName }}"
            onclick="location.href='/playlist_songs&playlist-id={{ playlist.playlistID }}'"
    >
    {% endfor %}
</p>

<input
        type="submit"
        value="Back"
        onclick="location.href='/user_home'">